(jet) jet3@jet3:~/jetracer$ python -m jetracer.teleop.joystick
WARNING: Carrier board is not from a Jetson Developer Kit.
WARNNIG: Jetson.GPIO library has not been verified with this carrier board,
WARNING: and in fact is unlikely to work correctly.
pygame 2.6.1 (SDL 2.28.4, Python 3.8.20)
Hello from the pygame community. https://www.pygame.org/contribute.html
Joystick: Xbox 360 Controller | axes=6 buttons=11
[motor] speed=+0.227 m/s
[jetracer][battery] voltage=7.81V  gain=1.075
[motor] speed=+0.264 m/s
[motor] speed=+0.410 m/s
[motor] speed=+0.443 m/s
[motor] steering=+0.860
[motor] steering=+0.870
[motor] steering=+0.008
[motor] steering=+0.220
[motor] speed=+0.232 m/s
[motor] speed=+0.445 m/s
[motor] speed=+0.231 m/s
[motor] speed=-0.367 m/s
[motor] speed=-0.410 m/s
[motor] speed=-0.310 m/s
[motor] speed=+0.232 m/s
[motor] speed=-0.411 m/s
[motor] speed=+0.232 m/s
[motor] speed=-0.411 m/s
[jetracer][battery] voltage=7.64V  gain=1.099
[motor] speed=-0.302 m/s
[motor] speed=+0.263 m/s
[motor] speed=+0.445 m/s
[motor] speed=+0.232 m/s
[motor] steering=+0.523
[motor] steering=+0.870
[motor] steering=+0.220
[motor] speed=-0.411 m/s
[motor] speed=+0.232 m/s
[motor] speed=+0.443 m/s
[motor] speed=+0.232 m/s
[motor] speed=-0.410 m/s
[motor] speed=+0.232 m/s
[motor] speed=-0.378 m/s
[motor] speed=-0.410 m/s
[motor] speed=+0.232 m/s
[motor] speed=-0.410 m/s
[motor] speed=+0.232 m/s
[motor] speed=-0.310 m/s
[motor] speed=-0.410 m/s
[motor] speed=-0.353 m/s
[motor] speed=+0.231 m/s
[motor] speed=-0.409 m/s
[motor] speed=+0.231 m/s
[motor] speed=-0.409 m/s
[motor] steering=+0.870
[motor] speed=-0.304 m/s
[motor] speed=+0.231 m/s
[motor] speed=+0.332 m/s
[motor] speed=+0.354 m/s
[motor] speed=+0.355 m/s
[motor] speed=+0.352 m/s
[motor] speed=+0.344 m/s
[motor] speed=+0.231 m/s
[motor] speed=+0.322 m/s
[motor] speed=+0.443 m/s
[jetracer][battery] voltage=7.58V  gain=1.108
[motor] speed=+0.234 m/s
[motor] speed=-0.370 m/s
[motor] steering=+0.220
[motor] speed=-0.414 m/s
[motor] speed=+0.234 m/s
[motor] speed=+0.358 m/s
[motor] speed=+0.234 m/s
[motor] speed=-0.414 m/s
[motor] speed=-0.320 m/s
[motor] speed=+0.308 m/s
[motor] speed=+0.444 m/s
[motor] speed=-0.281 m/s
[motor] speed=-0.411 m/s
[motor] speed=-0.262 m/s
[motor] speed=+0.264 m/s
[motor] speed=+0.232 m/s
[motor] speed=-0.411 m/s
[motor] speed=+0.351 m/s
[motor] speed=+0.444 m/s
[motor] speed=+0.232 m/s
[motor] speed=-0.411 m/s
[motor] speed=+0.232 m/s
[motor] speed=-0.411 m/s
[motor] speed=+0.232 m/s
[motor] steering=+0.666
[motor] steering=+0.763
[motor] steering=+0.768
[motor] steering=+0.671
[motor] steering=+0.220
[motor] speed=-0.240 m/s
[motor] speed=-0.309 m/s
[motor] speed=-0.411 m/s
[motor] speed=-0.365 m/s
[motor] speed=-0.307 m/s
[motor] speed=-0.269 m/s
[motor] speed=-0.254 m/s
[motor] speed=-0.242 m/s
[motor] speed=-0.229 m/s
[motor] speed=+0.232 m/s
[motor] steering=-0.430
[motor] steering=+0.220
[motor] speed=+0.271 m/s
[motor] speed=+0.445 m/s
[motor] speed=+0.232 m/s
[motor] speed=+0.445 m/s
[motor] speed=+0.232 m/s
[motor] speed=+0.444 m/s
[motor] speed=+0.232 m/s
[motor] speed=+0.444 m/s
[motor] speed=+0.232 m/s
[motor] speed=+0.444 m/s
[motor] steering=+0.845
[motor] steering=+0.870
[jetracer][battery] voltage=7.64V  gain=1.099
[motor] steering=+0.220
[motor] speed=+0.344 m/s
[motor] speed=+0.234 m/s
[motor] speed=-0.414 m/s
[motor] speed=+0.234 m/s
[motor] speed=+0.449 m/s
[motor] speed=+0.234 m/s
[motor] speed=-0.414 m/s
[motor] speed=-0.247 m/s
[motor] speed=+0.232 m/s
[motor] speed=-0.411 m/s
[motor] speed=+0.232 m/s
[motor] speed=-0.411 m/s
[motor] speed=-0.356 m/s
[motor] speed=+0.232 m/s
[motor] speed=+0.263 m/s
[motor] speed=+0.445 m/s
[motor] steering=-0.430
[motor] steering=+0.220
[motor] steering=+0.350
[motor] steering=+0.773
[motor] steering=+0.870
[motor] steering=+0.220
[motor] steering=+0.712
[motor] steering=+0.870
[motor] steering=+0.220
[motor] steering=+0.396
[motor] steering=+0.870
[motor] steering=+0.220
[motor] steering=+0.870
[jetracer][battery] voltage=7.54V  gain=1.113
[motor] steering=+0.814
[motor] steering=+0.651
[motor] steering=+0.508
[motor] steering=+0.299
[motor] steering=+0.220
[motor] steering=+0.421
[motor] steering=+0.870
[motor] steering=+0.600
[motor] steering=+0.319
[motor] steering=+0.220
[motor] steering=+0.381
[motor] steering=+0.794
[motor] steering=+0.870
[motor] steering=+0.768
[motor] steering=+0.220
[motor] steering=+0.855
[motor] steering=+0.870
[motor] steering=+0.381
[motor] steering=+0.220
[motor] steering=+0.340
[motor] steering=+0.870
[motor] steering=+0.220
[motor] steering=-0.430
[motor] steering=-0.369
[motor] steering=+0.220
[motor] steering=+0.870
[jetracer][battery] voltage=7.52V  gain=1.118
[motor] speed=+0.430 m/s
[motor] speed=+0.236 m/s
[motor] steering=+0.220
[motor] speed=-0.270 m/s
[motor] speed=-0.418 m/s
[motor] speed=-0.262 m/s
[motor] speed=+0.236 m/s
[motor] speed=-0.253 m/s
[motor] speed=-0.418 m/s
[motor] speed=+0.236 m/s
[motor] speed=+0.317 m/s
[motor] speed=+0.371 m/s
[motor] speed=+0.288 m/s
[motor] speed=+0.236 m/s
[motor] speed=-0.418 m/s
[motor] speed=+0.310 m/s
[motor] speed=+0.236 m/s
[motor] speed=-0.418 m/s
[motor] speed=+0.233 m/s
[motor] speed=-0.412 m/s
[motor] speed=+0.233 m/s
[motor] speed=+0.311 m/s
[motor] speed=+0.281 m/s
[motor] speed=+0.233 m/s
[motor] speed=-0.322 m/s
[motor] speed=-0.412 m/s
[motor] speed=+0.233 m/s
[motor] speed=+0.446 m/s
[motor] speed=+0.233 m/s
[motor] speed=-0.412 m/s
[motor] steering=+0.355
[motor] steering=+0.870
[motor] steering=+0.625
[motor] steering=+0.220
[motor] steering=+0.131
[motor] steering=+0.116
[motor] speed=+0.233 m/s
[motor] steering=+0.220
[motor] speed=-0.294 m/s
[motor] speed=-0.412 m/s
[motor] speed=+0.233 m/s
[motor] speed=-0.408 m/s
[motor] speed=+0.233 m/s
[motor] speed=-0.411 m/s
[motor] speed=+0.232 m/s
[motor] speed=-0.411 m/s
[motor] speed=+0.232 m/s
[motor] speed=+0.445 m/s
[motor] speed=-0.328 m/s
[motor] speed=-0.411 m/s
[motor] speed=+0.232 m/s
[motor] speed=+0.445 m/s
[motor] speed=-0.249 m/s
[motor] speed=-0.411 m/s
[motor] speed=-0.396 m/s
[motor] speed=+0.232 m/s
[motor] speed=-0.232 m/s
[motor] speed=-0.411 m/s
[motor] speed=-0.311 m/s
[motor] speed=+0.232 m/s
[motor] speed=+0.298 m/s
[motor] speed=+0.378 m/s
[motor] speed=+0.390 m/s
[motor] speed=+0.444 m/s
[motor] speed=+0.445 m/s
[motor] speed=+0.343 m/s
[motor] speed=+0.232 m/s
[motor] speed=-0.411 m/s
[motor] speed=-0.271 m/s
[motor] speed=+0.394 m/s
[motor] speed=+0.445 m/s
[jetracer][battery] voltage=7.64V  gain=1.100
[motor] speed=+0.232 m/s
[motor] speed=-0.405 m/s
[motor] speed=-0.411 m/s
[motor] speed=-0.405 m/s
[motor] steering=-0.430
[motor] speed=-0.411 m/s
[motor] speed=+0.234 m/s
[motor] steering=-0.399
[motor] speed=+0.408 m/s
[motor] steering=-0.150
[motor] speed=+0.449 m/s
[motor] steering=-0.007
[motor] steering=+0.003
[motor] steering=+0.080
[motor] steering=+0.105
[motor] speed=+0.279 m/s
[motor] speed=-0.286 m/s
[motor] speed=-0.415 m/s
[motor] steering=+0.220
[motor] speed=+0.234 m/s
[motor] speed=-0.415 m/s
[motor] speed=+0.234 m/s
[motor] speed=-0.415 m/s
[motor] steering=+0.870
[motor] speed=+0.236 m/s
[motor] speed=+0.281 m/s
[motor] speed=+0.420 m/s
[motor] speed=+0.427 m/s
[motor] speed=+0.411 m/s
[motor] speed=+0.367 m/s
[motor] speed=+0.320 m/s
[motor] speed=+0.303 m/s
[motor] speed=+0.236 m/s
[motor] speed=+0.277 m/s
[motor] speed=+0.304 m/s
[motor] speed=+0.371 m/s
[motor] speed=+0.452 m/s
[motor] speed=+0.404 m/s
[motor] speed=-0.418 m/s
[motor] steering=+0.220
[motor] speed=-0.350 m/s
[motor] speed=+0.236 m/s
[motor] speed=-0.418 m/s
[motor] steering=+0.381
[motor] steering=+0.870
[motor] steering=+0.681
[motor] speed=+0.232 m/s
[motor] steering=+0.220
[motor] speed=+0.295 m/s
[motor] speed=+0.436 m/s
[motor] speed=+0.446 m/s
[motor] steering=+0.421
[motor] steering=+0.712
[motor] steering=+0.788
[motor] steering=+0.783
[motor] steering=+0.727
[motor] steering=+0.488
[motor] steering=+0.220
[motor] steering=-0.430
[motor] speed=+0.232 m/s
[motor] steering=+0.220
[motor] speed=-0.412 m/s
[motor] speed=+0.232 m/s
[motor] speed=-0.412 m/s
[motor] speed=+0.233 m/s
[motor] speed=-0.412 m/s
[motor] speed=-0.397 m/s
[motor] speed=-0.363 m/s
[motor] speed=-0.323 m/s
[motor] speed=-0.294 m/s
[motor] speed=-0.344 m/s
[motor] speed=-0.412 m/s
[motor] speed=-0.351 m/s
[motor] speed=-0.305 m/s
[motor] speed=-0.359 m/s
[motor] speed=-0.412 m/s
[motor] speed=-0.404 m/s
[motor] speed=-0.358 m/s
[motor] speed=-0.308 m/s
[motor] speed=+0.233 m/s
[motor] speed=+0.269 m/s
[motor] speed=+0.430 m/s
[motor] speed=+0.446 m/s
[jetracer][battery] voltage=7.62V  gain=1.103
[motor] speed=+0.236 m/s
[motor] speed=-0.418 m/s
[motor] speed=-0.239 m/s
[motor] speed=+0.285 m/s
[motor] speed=+0.453 m/s
[motor] speed=+0.236 m/s
[motor] speed=-0.418 m/s
[motor] speed=-0.260 m/s
[motor] speed=+0.236 m/s
[motor] speed=+0.278 m/s
[motor] speed=+0.236 m/s
[motor] speed=-0.314 m/s
[motor] speed=-0.412 m/s
[motor] speed=+0.233 m/s
[motor] speed=+0.446 m/s
[motor] speed=+0.356 m/s
[motor] speed=+0.265 m/s
[motor] speed=+0.233 m/s
[motor] speed=-0.291 m/s
[motor] speed=-0.398 m/s
[motor] speed=-0.412 m/s
[motor] steering=+0.365
[motor] steering=+0.773
[motor] steering=+0.870
[motor] speed=+0.233 m/s
[motor] speed=+0.446 m/s
[motor] speed=+0.233 m/s
[motor] speed=-0.268 m/s
[motor] speed=-0.412 m/s
[motor] speed=+0.233 m/s
[motor] speed=+0.446 m/s
[motor] speed=+0.355 m/s
[motor] speed=+0.235 m/s
[motor] speed=+0.305 m/s
[motor] speed=+0.450 m/s
[motor] speed=+0.418 m/s
[motor] speed=+0.235 m/s
[motor] speed=-0.333 m/s
[motor] speed=-0.378 m/s
[motor] speed=-0.416 m/s
[motor] speed=+0.235 m/s
[motor] speed=+0.450 m/s
[motor] steering=+0.220
[motor] speed=+0.235 m/s
[motor] speed=-0.416 m/s
[motor] speed=-0.278 m/s
[motor] speed=+0.235 m/s
[motor] speed=-0.385 m/s
[motor] speed=-0.416 m/s
[motor] speed=+0.301 m/s
[motor] speed=+0.450 m/s
[motor] speed=+0.234 m/s
[motor] speed=-0.273 m/s
[motor] speed=-0.414 m/s
[motor] speed=+0.234 m/s
[motor] speed=+0.448 m/s
[motor] speed=+0.307 m/s
[motor] speed=-0.414 m/s
[motor] speed=-0.344 m/s
[motor] speed=+0.396 m/s
[motor] speed=+0.448 m/s
[jetracer][battery] voltage=7.61V  gain=1.104
[motor] speed=+0.271 m/s
[motor] speed=-0.277 m/s
[motor] speed=-0.413 m/s
[motor] speed=+0.233 m/s
[motor] speed=-0.413 m/s
[motor] speed=+0.233 m/s
[motor] speed=-0.413 m/s
[motor] speed=+0.233 m/s
[motor] speed=-0.260 m/s
[motor] speed=-0.413 m/s
[motor] speed=+0.233 m/s
[motor] speed=-0.413 m/s
[motor] speed=+0.233 m/s
[motor] speed=-0.334 m/s
[motor] speed=-0.412 m/s
[motor] speed=+0.233 m/s
[motor] speed=-0.412 m/s
[motor] speed=-0.373 m/s
[motor] speed=+0.233 m/s
[motor] speed=-0.354 m/s
[motor] speed=-0.397 m/s
[motor] speed=-0.412 m/s
[motor] speed=-0.310 m/s
[motor] speed=-0.298 m/s
[motor] speed=-0.412 m/s
[motor] speed=-0.365 m/s
[motor] speed=-0.412 m/s
[motor] speed=-0.389 m/s
[motor] speed=-0.255 m/s
[motor] speed=-0.412 m/s
[motor] speed=-0.226 m/s
[motor] speed=+0.233 m/s
[motor] speed=-0.412 m/s
[motor] speed=+0.233 m/s
[motor] speed=-0.412 m/s
[motor] speed=+0.233 m/s
[motor] speed=-0.412 m/s
[motor] speed=+0.233 m/s
[motor] speed=-0.227 m/s
[motor] speed=-0.356 m/s
[motor] speed=-0.412 m/s
[motor] speed=-0.282 m/s
[motor] speed=+0.233 m/s
[motor] speed=-0.412 m/s
[motor] speed=+0.233 m/s
[motor] speed=-0.412 m/s
[motor] speed=+0.233 m/s
[motor] speed=-0.412 m/s
[motor] speed=-0.361 m/s
[motor] speed=+0.233 m/s
[motor] speed=-0.412 m/s
[motor] speed=+0.233 m/s
[motor] steering=+0.870
[motor] steering=+0.220
[motor] steering=+0.839
[motor] steering=+0.870
[motor] steering=+0.600
[motor] steering=+0.220
[motor] steering=-0.430
[motor] steering=-0.134
[motor] steering=+0.220
[motor] speed=-0.360 m/s
[motor] speed=-0.417 m/s
[jetracer][battery] voltage=7.54V  gain=1.114
[motor] steering=+0.585
[motor] speed=+0.235 m/s
[motor] steering=+0.870
[motor] steering=+0.220
[motor] steering=-0.430
[motor] steering=+0.126
[motor] steering=+0.220
[motor] steering=+0.870
[motor] steering=+0.220
[motor] steering=-0.430
[motor] steering=+0.220
[motor] speed=-0.415 m/s
[motor] speed=-0.401 m/s
[motor] speed=+0.234 m/s
[motor] speed=-0.234 m/s
[motor] speed=-0.414 m/s
[motor] speed=-0.400 m/s
[motor] speed=-0.241 m/s
[motor] speed=+0.234 m/s
[motor] speed=-0.297 m/s
[motor] speed=-0.366 m/s
[motor] speed=-0.399 m/s
[motor] speed=-0.357 m/s
[motor] speed=+0.234 m/s
[motor] speed=-0.248 m/s
[motor] speed=-0.373 m/s
[motor] speed=-0.401 m/s
[motor] speed=-0.387 m/s
[motor] speed=-0.308 m/s
[motor] speed=+0.233 m/s
[motor] speed=-0.231 m/s
[motor] speed=-0.298 m/s
[motor] speed=-0.360 m/s
[motor] speed=+0.233 m/s
[motor] speed=-0.334 m/s
[motor] speed=-0.373 m/s
[motor] speed=-0.375 m/s
[motor] speed=-0.361 m/s
[motor] speed=-0.327 m/s
[motor] speed=-0.277 m/s
[motor] speed=+0.233 m/s
[motor] speed=-0.289 m/s
[motor] speed=-0.308 m/s
[motor] speed=-0.291 m/s
[motor] speed=+0.233 m/s
[motor] speed=-0.262 m/s
[motor] speed=-0.413 m/s
[motor] speed=+0.233 m/s
[motor] speed=+0.457 m/s
[jetracer][battery] voltage=7.44V  gain=1.129
[motor] steering=+0.870
[motor] steering=+0.220
[motor] speed=+0.238 m/s
[motor] speed=+0.346 m/s
[motor] speed=+0.448 m/s
[motor] steering=+0.661
[motor] steering=+0.870
[motor] steering=+0.717
[motor] steering=+0.220
[motor] steering=-0.088
[motor] steering=-0.430
[motor] steering=+0.220
[motor] speed=+0.233 m/s
[motor] speed=-0.413 m/s
[motor] speed=+0.233 m/s
[motor] speed=-0.413 m/s
[jetracer][battery] voltage=7.61V  gain=1.104
[motor] speed=-0.248 m/s
[motor] speed=+0.233 m/s
[motor] speed=-0.413 m/s
[motor] speed=+0.233 m/s
[motor] speed=+0.447 m/s
[motor] speed=+0.233 m/s
[motor] speed=-0.413 m/s
[motor] speed=+0.233 m/s
[motor] speed=-0.248 m/s
[motor] speed=-0.412 m/s
[motor] speed=+0.233 m/s
[motor] speed=-0.359 m/s
[motor] speed=-0.412 m/s
[motor] steering=+0.681
[motor] steering=+0.870
[motor] steering=+0.554
[motor] steering=-0.430
[motor] speed=-0.238 m/s
[motor] steering=+0.220
[motor] speed=+0.233 m/s
[motor] speed=-0.412 m/s
[motor] speed=+0.233 m/s
[motor] speed=-0.412 m/s
[motor] speed=+0.233 m/s
[motor] speed=-0.238 m/s
[motor] speed=-0.413 m/s
[motor] speed=+0.233 m/s
